<footer class="w-full py-1 flex justify-center">
  <div class="flex justify-center items-center w-fit gap-2 px-4 rounded-xl bg-sidebar/70 backdrop-blur-md border border-sidebar-border/50 shadow-lg">
    <p>&copy; 2026 Tour Planner - Team 03 (SWEN2)</p>
    <div class="flex gap-3 text-primary">
      <button class="hover:underline cursor-pointer font-medium" (click)="openImpressum()">Impressum</button>
      <span class="text-sidebar-border">|</span>
      <p class="text-muted-foreground">FH Technikum Wien</p>
    </div>
  </div>
</footer>
