<div class="scroll-container flex flex-col h-full p-2 rounded-3xl bg-sidebar border border-sidebar-border shadow-sm overflow-y-auto">
  @switch (activeState) {
    @case ('overview') { <app-listview-tours (stateChange)="activeStateChange.emit($event)" /> }
    @case ('details')  { <app-detailsview-tour /> }
    @case ('edit')     { <app-edit-tour (stateChange)="activeStateChange.emit($event)" /> }
    @case ('logs')     { <app-listview-logs /> }
    @case ('user')     { <p>Account</p> }
    @case ('create')   { <app-create-tour /> }
    @case ('info')     { <app-impressum /> }
    @default           { <ng-content /> }
  }
</div>
