<div class="page-wrapper">
  <div class="map-container">
    <div id="map" class="w-full h-full"></div>
    
    <div class="overlay">
      <app-content [showToggle]="false" [centerContent]="true">
        @if (currentStatus == 'login') {
          <app-login-form (loginComponentStatus)="handleStatusUpdate($event)"></app-login-form>
        } @else if (currentStatus == 'register') {
          <app-register-form (loginComponentStatus)="handleStatusUpdate($event)"></app-register-form>
        } @else if (currentStatus == 'impressum') {
          <app-impressum></app-impressum>
          <div class="flex justify-center mt-4 px-4 pb-2">
            <button
              z-button
              zType="default"
              class="w-full text-foreground border border-sidebar-border/50 bg-sidebar/30 backdrop-blur-sm hover:bg-sidebar-accent/80 transition-all duration-200"
              (click)="handleStatusUpdate('login')"
            >
              Back to Login
            </button>
          </div>
        }
      </app-content>
    </div>

    <div class="absolute bottom-0 left-0 w-full z-1000">
      <app-footer (impressumClick)="handleStatusUpdate('impressum')"></app-footer>
    </div>
  </div>
</div>
