<div class="flex flex-col justify-between h-full p-2 rounded-2xl glass-panel">
  <div id="nav_top" class="flex flex-col gap-3">
    <div class="flex flex-col gap-3">
      @for (item of mainNavItems; track item.state) {
        <app-nav-button
          [icon]="item.icon"
          [label]="item.label"
          [state]="item.state"
          [isActive]="activeState() === item.state"
          [disabled]="isItemDisabled(item)"
          (stateChange)="onStateChange($event)"
        />
      }
    </div>

    <hr class="border-sidebar-border mx-1" />

    <div class="flex flex-col gap-3">
      @for (item of actionNavItems; track item.state) {
        <app-nav-button
          [icon]="item.icon"
          [label]="item.label"
          [state]="item.state"
          [isActive]="activeState() === item.state"
          (stateChange)="onStateChange($event)"
        />
      }
    </div>
  </div>

  <div id="nav_btm" class="flex flex-col gap-3">
    @for (item of userItem; track item.state) {
      <app-nav-button
        [icon]="item.icon"
        [label]="item.label"
        [state]="item.state"
        [isActive]="activeState() === item.state"
        (stateChange)="onStateChange($event)"
      />
    }
  </div>
</div>
